@model List<Musteri>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Musteri","Musteri",FormMethod.Get))
{
    <p>
        <b>Aranacak Müşteri adı:</b>@Html.TextBox("p")
        <input type="submit" value="Ara"/>
    </p>
}
<table class="table table-bordered">
    <tr>
        <th>Müşteri Id</th>
        <th>Müşteri Adı</th>
        <th>Müşteri Soyadı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        </tr>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <th>@item.MusteriId</th>
                <th>@item.MusteriName</th>
                <th>@item.MusteriSurname</th>
                <td><a href="/Musteri/SIL/@item.MusteriId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Musteri/MusteriGetir/@item.MusteriId" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </tbody>

</table>
<a href="/Musteri/YeniMusteri/" class="btn btn-warning">Yeni Müşteri Ekle</a>
